<% layout('layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit the listing</h3>
            <form action="/listings/<%= list._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title </label>
                    <input type="text" name="listing[title]" id="title" class="form-control" value="<%= list.title %>" required>
                    <div class="invalid-feedback">Please enter a title</div>
                </div>
                <br><br>
                <div>
                    <label for="description" class="form-label">Description </label>
                    <textarea name="listing[description]" id="description" class="form-control" required><%= list.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" id="price" class="form-control" value="<%= list.price %>" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                        <br><br>
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" class="form-control" value="<%= list.country %>" required>
                        <div class="invalid-feedback">Please enter country name</div>
                        <br><br>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" class="form-control" value="<%= list.location %>" required>
                    <div class="invalid-feedback">Please enter a valid location</div>
                    <br><br>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="guests" class="form-label">Max Guests</label>
                        <input type="number" name="listing[guests]" id="guests" class="form-control" min="1" value="<%= list.guests %>" required>
                        <div class="invalid-feedback">Please enter guest capacity</div>
                        <br><br>
                    </div>
                    <div class="col-md-4">
                        <label for="bedrooms" class="form-label">Bedrooms</label>
                        <input type="number" name="listing[bedrooms]" id="bedrooms" class="form-control" min="0" value="<%= list.bedrooms %>" required>
                        <div class="invalid-feedback">Please enter number of bedrooms</div>
                        <br><br>
                    </div>
                    <div class="col-md-4">
                        <label for="bathrooms" class="form-label">Bathrooms</label>
                        <input type="number" name="listing[bathrooms]" id="bathrooms" class="form-control" min="0" value="<%= list.bathrooms %>" required>
                        <div class="invalid-feedback">Please enter number of bathrooms</div>
                        <br><br>
                    </div>
                </div>

                <div>
                    <label class="form-label">Facilities / Amenities</label>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Fast WiFi" id="amenity-wifi" <%= list.amenities && list.amenities.includes("Fast WiFi") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-wifi">Fast WiFi</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Mountain view" id="amenity-view" <%= list.amenities && list.amenities.includes("Mountain view") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-view">Mountain view</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Free parking" id="amenity-parking" <%= list.amenities && list.amenities.includes("Free parking") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-parking">Free parking</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Kitchen" id="amenity-kitchen" <%= list.amenities && list.amenities.includes("Kitchen") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-kitchen">Kitchen</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Washer" id="amenity-washer" <%= list.amenities && list.amenities.includes("Washer") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-washer">Washer</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="AC" id="amenity-ac" <%= list.amenities && list.amenities.includes("AC") ? "checked" : "" %>>
                                <label class="form-check-label" for="amenity-ac">AC</label>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>

                <div class="container">
                    <!-- <p class="row1">About Image-</p> -->
                     <img src=<%= list.image.url %> alt=<%= list.image.filename %>  width="220" height="160">
                    <div class="row">
                        
                        <div class="pair2 col-md-8">
                            <label for="url" class="form-label">Upload new Image</label>
                            <input type="file" name="listing[image]" id="listing[image]" class="form-control"  >
                            
                        </div>
                    </div>
                </div>
                <br><br>
                <button class="btn btn-custom">Submit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>

